{% extends "vistas/base.html" %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/aves.css' %}">
{% endblock %}

{% block content %}
<div id="felinos" style="padding-top:40px;">
    <table>
      <tr>
        <td  class="auto-style9">
          &nbsp;
        </td>
        <td class="Cajita"style="font-family: 'Bahnschrift Light'; font-weight: bolder;">
            <h2>&nbsp;</h2>
            <h2>•Flamencos &bull;</h2>
          <img src="{% static 'img/Flamenco.jpg' %}" height="145px" width="170px" alt="Flamenco">
          <p>
            Nobre común: Flamenco
          </p>
          <p>
            Nombre cientifico: Phoenicopterus
          </p>
          <p>
            Clase: Aves
          </p>
          <p>
            Alimentación: Carnívoro
          </p>
          <p>
            Promedio de vida en la naturaleza: 16 - 18 años
          </p>
          <p>
            Altura: 1.5 m
          </p>
          <br>
        </td>
        <td >
          &nbsp;
        </td>
        <td class="Cajita" style="font-family: 'Bahnschrift Light'; font-weight: bolder;">
            <h2>&bull;Tucan•</h2>
          <img src="{% static 'img/tucan.png' %}" height="145px" width="170px" alt="Tucan">
          <p>
            Nobre común: Tucan
          </p>
          <p>
            Nombre cientifico: Ramphastos toco
          </p>
          <p>
            Clase: Aves
          </p>
          <p>
            Alimentación: Omnivoro
          </p>
          <p>
            Promedio de vida en la naturaleza: 18 - 20 años
          </p>
          <p>
            Peso: 620 g
          </p>
        </td>
      </tr>
      <tr>
        <td class="auto-style9"></td>
      </tr>
      <tr>
        <td  class="auto-style9">
        </td>
        <td class="Cajita" style="font-family: 'Bahnschrift Light'; font-weight: bolder;">
            <h2>&nbsp;</h2>
            <h2>•Pajaro León &bull;</h2>
          <img src="{% static 'img/pajaro.jpg' %}" height="145px" width="170px" alt="Pajaro León">
          <p>
            Nobre común: Pajaro León
          </p>
          <p>
            Nombre cientifico: Momotus momota
          </p>
          <p>
            Clase: Aves
          </p>
          <p>
            Alimentación: Carnívoro
          </p>
          <p>
            Promedio de vida en la naturaleza: 12 - 15 años
          </p>
          <p>
            Peso: 1.2 kg
          </p>
          <br>
        </td>
        <td style="padding-left:30px">
          &nbsp;
        </td>
        <td class="Cajita" style="font-family: 'Bahnschrift Light'; font-weight: bolder;">>
            <h2>&bull;Garza•</h2>
          <img src="{% static 'img/garza.png' %}" height="145px" width="170px" alt="Garza">
          <p>
            Nombre cientifico: Ardeidade
          </p>
          <p>
            Clase: Aves
          </p>
          <p>
            Alimentación: Carnívoro
          </p>
          <p>
            Numero de huevos : 2- 5
          </p>
          <p>
            Promedio de vida en la naturaleza: 12 - 15 años
          </p>
          <p>
            Peso: 1.5 kg
          </p>
        </td>
      </tr>
      <tr>
        <td class="auto-style9"></td>
      </tr>
      <tr>
        <td style="padding-right:100px" class="auto-style9">
          &nbsp;
        </td>
        <td class="Cajita" style="font-family: 'Bahnschrift Light'; font-weight: bolder;">
            <h2>&nbsp;</h2>
            <h2>•Faisán Dorado &bull;</h2>
          <img src="{% static 'img/faisan.png' %}" height="145px" width="170px" alt="Faisán Dorado">
          <p>
            Nobre común: Faisán
          </p>
          <p>
            Nombre cientifico: Crhysolophus pictus
          </p>
          <p>
            Clase: Aves
          </p>
          <p>
            Número de huevos: 8 - 12
          </p>
          <p>
            Promedio de vida en la naturaleza: 3 - 5 años
          </p>
          <p>
            Peso: 550 g
          </p>
          <br>
        </td>
        <td style="padding-left:30px">
          &nbsp;
        </td>
        <td class="Cajita" style="font-family: 'Bahnschrift Light'; font-weight: bolder;">
            <h2>•Búho•</h2>
          <img src="{% static 'img/buho.jpg' %}" height="145px" width="170px" alt="Búho">
          <p>
            Nombre cientifico: Strigiformes
          </p>
          <p>
            Clase: Aves
          </p>
          <p>
            Alimentación: Carnívoro, puede cazar en la oscuridad
          </p>
          <p>
            Se caracaterizan por hacer el mínimo de ruido mientras agarran a su presa
          </p>
          <p>
            Promedio de vida en la naturaleza: 13 - 15 años
          </p>
          <p>
            Peso: 2.7 kg
          </p>
        </td>
      </tr>
      <tr>
        <td class="auto-style9"></td>
      </tr>
      <tr>
        <td style="padding-right:100px" class="auto-style9">
          &nbsp;
        </td>
        <td class="Cajita" style="font-family: 'Bahnschrift Light'; font-weight: bolder;">
            <h2>&nbsp;</h2>
            <h2>•Águila•</h2>
          <img src="{% static 'img/Buteo.png' %}" height="145px" width="170px" alt="Águila">
          <p>
            Nombre cientifico: Accipitridae
          </p>
          <p>
            Clase: Aves
          </p>
          <p>
            Velocidad: 320 km/h
          </p>
          <p>
            Alimentación: Carnívoro
          </p>
          <p>
            Promedio de vida en la naturaleza: 20 - 30 años
          </p>
          <p>
            Peso: 3.6&nbsp; -6.7 kg
          </p>
          <br>
        </td>
        <td style="padding-left:30px">
          &nbsp;
        </td>
        <td class="Cajita" style="font-family: 'Bahnschrift Light'; font-weight: bolder;">
            <h2>&bull;Guacamayas•</h2>
          <img src="{% static 'img/guacamaya.jpg' %}" height="145px" width="170px" alt="Guacamayas">
          <p>
            Nombre cientifico: Ara
          </p>
          <p>
            Clase: Aves
          </p>
          <p>
            Alimentación: Omnívoro
          </p>
          <p>
            Numero de huevos : 2- 5
          </p>
          <p>
            Promedio de vida en la naturaleza: 30 años
          </p>
          <p>
            Peso: 1 kg
          </p>
        </td>
      </tr>
      <tr>
        <td class="auto-style9"></td>
      </tr>
      <tr>
        <td style="padding-right:100px" class="auto-style9">
          &nbsp;
        </td>
        <td class="Cajita" style="font-family: 'Bahnschrift Light'; font-weight: bolder;">
            <h2>&nbsp;</h2>
            <h2>•Aguila•</h2>
          <img src="{% static 'img/gali.jpg' %}" height="145px" width="170px" alt="Aguila">
          <p>
            Nobre común: Pajaro León
          </p>
          <p>
            Nombre cientifico: Momotus momota
          </p>
          <p>
            Clase: Aves
          </p>
          <p>
            Alimentación: Carnívoro
          </p>
          <p>
            Promedio de vida en la naturaleza: 12 - 15 años
          </p>
          <p>
            Peso: 1.2 kg
          </p>
          <br>
        </td>
        <td style="padding-left:30px">
          &nbsp;
        </td>
        <td class="Cajita" style="font-family: 'Bahnschrift Light'; font-weight: bolder;">
            <h2>Pavo Real•</h2>
          <img src="{% static 'img/pavito.png' %}" height="145px" width="170px" alt="Pavo Real">
          <p>
            Nobre común: Pavo Real
          </p>
          <p>
            Nombre cientifico: Pavo cristatus
          </p>
          <p>
            Clase: Aves
          </p>
          <p>
            Número de huevos: 4 - 8
          </p>
          <p>
            Promedio de vida en la naturaleza: 15 - 20 años
          </p>
          <p>
            Peso: 4 - 6 kg
          </p>
        </td>
      </tr>
    </table>
    
</div>

{% endblock %}