{% load static %}
<!DOCTYPE html>

<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    {% block css %}
    <!-- include any css tags here -->
    {% endblock %}
    <title>El Nido</title>
    <style>
        body {
            background-image: url("{% static 'img/ELNIDO2.jpg' %}");
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
            background-attachment: fixed;
        }
    </style>

</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark " style="background-color: green;">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main_nav"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="main_nav">
                <ul class="navbar-nav">
                    <li class="nav-item active"> <a class="nav-link" href="https://elnido.mx/">Inicio </a> </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link  dropdown-toggle" href="#" data-bs-toggle="dropdown">Detalles</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{% url 'nido:aves' %}">Aves</a></li>
                            <li><a class="dropdown-item" href="{% url 'nido:checkout' %}">Donativos</a></li>
                            <li><a class="dropdown-item" href="{% url 'nido:apadrinamiento' %}">Apadrinamiento</a></li>
                        </ul>
                    </li>
                </ul>
            </div> <!-- navbar-collapse.// -->
        </div> <!-- container-fluid.// -->
    </nav>
    {% block content %}{% endblock %}


    <!-- Add the following JavaScript code at the bottom of your template -->
    <div>

        <footer class="footer">
            <h1> Gracias por tu interes</h1>
            <h4 class="auto-style8" style="font-family: 'Comic Sans MS'"> <em>Tratando de mejorar el mundo de ellos
                </em>
            </h4>
            <h4> Contactanos Tel (55) 1737 8304 </h4>
            <h5> <span style="letter-spacing:0.3em">© 2023 Proudly created www.elnido.mx</span></h5>
        </footer>

    </div>
    <!-- scripts -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"></script>
    {% block scripts %}
    <!-- include any script tags here -->
    {% endblock %}
</body>

</html>