body {
    background-image: url(/server/static/img/ELNIDO2.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}


#button {
    padding: 0;
    display: block;
}

#button li {
    display: inline;
    display: block;
}

#button li a {
    font-family: 'Abel', sans-serif;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
    float: left;
    padding: 10px;
    background: trasparent;
    color: #000;
}

.footer {
    height: 4rem;
    justify-content: center;
}

.footer h1,
h4 {
    font-size: 20px;
    font-family: Arial;
    font-weight: bold;
    width: 100%;
    text-align: center;
}

.footer h5 {
    font-size: 15px;
    font-family: Britannic;
    text-align: center;
}

.auto-style1 {
    width: 435px;
}

.auto-style3 {
    width: 100%;
    background-color: #4b9728;
}

.auto-style4 {
    width: 606px;
}

.auto-style5 {
    width: 300px;
    height: 150px;
}

.caja {
    border: 18px #8c5a29 solid;
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 70;
    margin-bottom: 70px;
    width: 60%;
}

.styleh2 {
    font-size: 60px;
    font-family: 'Book Antiqua';
    font-weight: bold;
    width: 100%;
    text-align: center;
}

.auto-style5 {
    margin-top: 0px;
}

.formu {
    border: 12px #cca074 solid;
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 70;
    margin-bottom: 70px;
}

.Cajita {
    border: 8px solid #cca074;
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 70;
    margin-bottom: 70px;
    width: 440px;
    text-align: center;
    font-family: 'Bahnschrift Light'; font-weight: bolder;
}
table {
    margin-left:auto;
    margin-right:auto;
  }

  td {
    text-align: center;
  }